<html>
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	<body>
		<h1>Registrácia používateľa.</h1>

		<p>Dobrý deň</p>

		<p>
		    Vážený klient,<br/>
		    ďakujeme za registráciu a vítame Vás v našom portáli <i>{$nasConfigStorage->applicationName}</i>.<br/>
		    Váš účet bol vytvorený a môžete sa prihlásiť na adrese <a href="{$baseUrl}/sign/">{$baseUrl}/sign/</a><br/>
		    s použitím týchto prihlasovacích údajov:<br/>
		    Vaše prihlasovacie meno: {$username}<br/>
		    Vaše prihlasovacie heslo: {$password}<br/>
		    Vaše prihlasovacie údaje si môžete kedykoľvek zmeniť po prihlásení vo Vašom profile.<br/>
		</p>
	</body>
</html>