<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<h1>Obnovenie hesla.</h1>

<p>Dobrý deň</p>

<p>
	Vážený klient,<br/>
	bolo vám obnovené heslo na portáli <i>{$nasConfigStorage->applicationName}</i>.<br/>
	Váše nové prihlasovacie údaje:<br/>
	Vaše prihlasovacie meno: {$username}<br/>
	Vaše prihlasovacie heslo: {$password}<br/>
	Vaše prihlasovacie údaje si môžete kedykoľvek zmeniť po prihlásení vo Vašom profile.<br/>
</p>

</body>
</html>