<!DOCTYPE html>
<html lang="{$nasConfigStorage->applicationLanguage}">
	<head>
		{includeblock head.latte}
	</head>
	<body class="{$presenter->layout} {$presenter->name|webalize}-presenter">
	    {include #body}
	</body>
</html>